@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

/* Custom Scrollbar Utilities */
::-webkit-scrollbar { 
  width: 8px; 
  height: 8px; 
}
::-webkit-scrollbar-track { 
  background: #f4f4f5; 
}
::-webkit-scrollbar-thumb { 
  background: #a1a1aa; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover { 
  background: #71717a; 
}